.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 13px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.05);
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  height: 150px; /* Set a constant height */
}

.card-title {
  font-size: 16px;
  margin: 10px 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  font-weight: 500;
}

.card-icon {
  background-color: white;
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-id {
  font-size: 14px;
  color: #666;
  font-weight: 600;
}

.user-avatar-container {
  position: relative;
  display: inline-block;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc; /* Background color for the avatar */
  color: white; /* Text color for the initials */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Font size for the initials */
  font-weight: bold;
}

.status-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-type {
  display: flex;
  align-items: center; /* Center items vertically */
  font-size: 16px;
  font-weight: 600; /* Increase font weight */
  color: #999; /* Adjust color to match the image */
  background-color: white; /* Adjust background if needed */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.grey-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 2px;
}
